{% extends 'frontend_base.html' %}
{% load static %}

{% block content %}
<div class = "background" id="homepageBackground">
  <div class="layer">
  
    <div class="login-form text-center py-5">
      <div class="gap-1"></div>
      <img src="{% static "emr/img/logo.png" %}" alt="Logo" width="100px" class="mb-3">
      <p class="caption-head mb-0" >New Life Clinic</p>
      <p class="caption-head" id="loginTitle"> EMR Login </p>
        <form method="post" action=".">
        
          {% csrf_token %}
          <div class="error container">
            
            
              {% for error in form.non_field_errors %}
              <div class="alert alert-danger" role="alert">
                <p>{{error}} </p>
              </div>
              {% endfor %}
           
            
          </div>

          

          
          <div class="username-section p-2">
            {{form.username}}
          </div>
          <div class="password-section p-2">
            {{form.password}}
          </div>
          
          <div class="submit-section p-2">
            <button type="submit" class="login-btn">LOG IN</button>
          </div>

        </form>
        <a  href="{% url 'password_reset' %}" class="font-black">Forgot Password ? </p>
    </div>
  </div>
</div>


{% endblock %}