{% extends "backend_base.html" %} {% load crispy_forms_tags %}
{% load custom_filters %}
{% block content%}
<div class="container py-3">
  <h3>My Schedule</h3>
  <hr />
  
    <div class="article ">
            <div class="my-grid">
            {% for day in upcoming_days %}

                <div class="grid-item">
                    <div class="card text-center" >
                        <div class="card-header">
                            <span>{{day.week_day}}</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{day.month}} {{day.number}}</h5>
                            <a href="{{day.get_absolute_url}}"><span>{{day.appointments | appointment_count:request.user }} Appt.</span></a>
                        </div>
                        </div>
                </div>
            {% endfor %}
            </div>
    </div>
</div>

{% endblock %}
