{% extends 'backend_base.html' %}
{% load custom_filters %}


{% block content %}
  
  <div class="container py-3 appointment-container">

    
    <h5> Appointments for Today, {{today_date}}</h5>
    
    <div class="article appointment-section">
        
        <table class="table homepage-table">
        <tr>
            <th>Date and Time</th>
            <th>Visitor Name</th>
            <th>Description</th>
        </tr>
        
        {% for appointment in today_appointments %}
        <tr>
            <td><a href="{{appointment.get_absolute_url }}"> <span>{{appointment.date_time}}</span></td>
            <td> <span>{{appointment.visitor_name}}</span></a></td>
            <td>
            {{appointment.description}}
            </td>
            
        
           
        </tr>
        {% endfor %}
        </table>
    </div>

    <hr/>
    
     
   <h5 class="text-center"> Upcoming Appointments</h5>
    <div class="article appointment-section">
        {% comment %} <table class="table mt-4">
        <tr>
            <th>Date</th>
            <th>No. of appointments</th>
        </tr>
        {% for day in upcoming_days %}
        <tr>
            <td><a href="{{day.get_absolute_url }}"> <span>{{day.month}} {{day.number}}</span></td>
            <td><span>{{day.appointments.count}}</span></a></td>
            
              
        </tr>
        {% endfor %}
        </table> {% endcomment %}
       
            <div class="my-grid">
            {% for day in upcoming_days %}

                <div class="grid-item">
                    <div class="card text-center" >
                        <div class="card-header">
                            <span>{{day.week_day}}</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{day.month}} {{day.number}}</h5>
                            <a href="{{day.get_absolute_url}}"><span>{{day.appointments | appointment_count:request.user }} Appt.</span></a>
                        </div>
                        </div>
                </div>
            {% endfor %}

            </div>
    </div>

  </div>
{% endblock %}