{% extends 'backend_base.html' %} {% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-sm-6">
      <h5>Department List</h5>
    </div>
    <div class="col-sm-6 text-right">
      <a href="{% url 'add_department' %}" class="btn btn-primary"><span>Add New Department</span></a>
    </div>
    
  </div>
  <div class="article">
    <table class="table mt-4">
      <tr>
        <th>Department Id</th>
        <th>Department Name</th>
        <th>No. of Employees</th>
        
        
        
      </tr>
      {% for department in departments %}
      <tr>
        <td>  <span>       {{department.id}} </span>      </td>
        <td> <a href="{{department.get_absolute_url }}"> <span>{{department.name}}</span></a></td>
        <td>  <span>       {{department.employees.count}} </span>      </td>
        
        
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
