{% extends 'backend_base.html' %}
{% block content %}


<div class="container  py-2">
    <h5> Find a Patient </h5>
    
    <form action='/search-patient/' method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <div class="form-group"> 
                    <label for= "patientId"> Id</label>
                    <input type = "number" name="id" class="form-control" id="patientId">
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label for="patientName"> Name </label>
                    <input type="text" name="name" class="form-control" id="patientName"> 
                </div>
            </div>
            <div class="col">
                <input type="submit" value="Search" class="btn emr-btn" style="margin-top: 32px;"> 
            </div>
        </div>
         
        
    
    </form>
</div>

<div class= "container">
    {% if message %}
    <p class="alert alert-warning" role="alert">{{message}} </p>     
    {% endif %}
    {% if error %}
    <p class="alert alert-danger" role="alert">{{error}} </p>     
    {% endif %}
</div>

{% if patient %}
<div class="container py-4">
    <h5> Patients Found </h5>
    <div class="article">
        <table class="table mt-4">
        <tr>
            <th>Id</th>
            <th>Patient Name</th>
            <th>Gender</th>
            <th>Age</th>            
        </tr>
        
        <tr>
            <td><span>{{patient.id}}</span></td>
            <td> <a href="{{patient.get_absolute_url }}"> <span>{{patient.full_name}}</span></a></td>
            <td>
            {{patient.gender}}
            </td>
            <td><span>{{patient.age}}</span></td>
        </tr>
        
        </table>
    </div>
</div>
{% endif %}
{% endblock %}