{% extends 'backend_base.html' %}
{% block content %}

<div class="container text-center py-2">
    <form action='/search-patient/' method="POST">
        {% csrf_token %}
               
        <label for= "patientId"> Id</label>
        <input type = "number" name="id" class="id-search-bar" id="patientId">

        <label for="patientName"> Name </label>
        <input type="text" name="name" class="name-search-bar" id="patientName"> 
        
        <input type="submit" value="Search" class="btn emr-btn">
    
    </form>
</div>

    {% if message %}
        {{message}}
    {% endif %}

    {% if error %}
            {{error}}
    {% endif %}

    {% if patient %}
        
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-sm-6">
        <h5>Patient List</h5>
        </div>
        
    </div>
    <div class="article">
        <table class="table mt-4">
        <tr>
            <th>Id</th>
            <th>Patient Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th></th>
            <th></th>
            
        </tr>
        
        <tr>
            <td><span>{{patient.id}}</span></td>
            <td> <a href="{{patient.get_absolute_url }}"> <span>{{patient.full_name}}</span></a></td>
            <td>
            {{patient.gender}}
            </td>
            <td><span>{{patient.age}}</span></td>
        
            <td>
            <a href="{% url 'update_patient' id=patient.id %}" class="btn btn-primary"><span><i class="fas fa-edit"></i></span></a>
            
            </td>
            <td>
            <a href="{% url 'delete_patient' id=patient.id %}" class="btn btn-danger"><span><i class="far fa-trash-alt"></i></span></a></a>
            </td>
        </tr>
        
        </table>
    </div>
  </div>
    {% endif %}

    {% if patients %}

    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-sm-6">
        <h5>Patient List</h5>
        </div>
        
    </div>
    <div class="article">
        <table class="table mt-4">
        <tr>
            <th>Id</th>
            <th>Patient Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th></th>
            <th></th>
            
        </tr>
        {% for patient in patients %}
        <tr>
            <td><span>{{patient.id}}</span></td>
            <td> <a href="{{patient.get_absolute_url }}"> <span>{{patient.full_name}}</span></a></td>
            <td>
            {{patient.gender}}
            </td>
            <td><span>{{patient.age}}</span></td>
        
            <td>
            <a href="{% url 'update_patient' id=patient.id %}" class="btn btn-primary"><span><i class="fas fa-edit"></i></span></a>
            
            </td>
            <td>
            <a href="{% url 'delete_patient' id=patient.id %}" class="btn btn-danger"><span><i class="far fa-trash-alt"></i></span></a></a>
            </td>
        </tr>
        {% endfor %}
        </table>
    </div>
    </div>

    {% endif %}
{% endblock %}